Package: me.nepeta.relocate
Name: Relocate
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0), applist, com.rpetrich.rocketbootstrap (>= 0.1.7)
Version: 0.1.11
Architecture: iphoneos-arm
Description: Minimalist GPS spoofer (free)
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
