<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP</string>
			<key>footerText</key>
			<string>INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>key</key>
			<string>Enabled</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>OVERRIDE</string>
				<string>USE_REAL</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>Location</string>
			<key>detail</key>
			<string>RLCLocationPickerViewController</string>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>LOCATION</string>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>JOYSTICK</string>
			<key>key</key>
			<string>Joystick</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>App settings</string>
</dict>
</plist>