<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>relocate.png</string>
			<key>footerText</key>
			<string>ENABLED_TOGGLE_INFO</string>
		</dict>

		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Nepeta</string>
			<key>user</key>
			<string>NepetaDev</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>Enabled</string>
			<key>id</key>
			<string>enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GLOBAL</string>
			<key>footerText</key>
			<string>GLOBAL_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>GlobalEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>GlobalLocation</string>
			<key>detail</key>
			<string>RLCLocationPickerViewController</string>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>LOCATION</string>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP</string>
			<key>footerText</key>
			<string>APP_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>AppEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>RLCAppListController</string>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>APPLICATIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NO_GPS</string>
			<key>footerText</key>
			<string>NO_GPS_INFO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.relocate</string>
			<key>label</key>
			<string>NO_GPS</string>
			<key>key</key>
			<string>GlobalNoGPS</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ADVANCED</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>RLCFavorites</string>
			<key>label</key>
			<string>FAVORITES_MANAGER</string>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>RLCSystemServicesListController</string>
			<key>label</key>
			<string>SYSTEM_SERVICES</string>
			<key>PostNotification</key>
			<string>me.nepeta.relocate/ReloadPrefs</string>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Relocate by Nepeta</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>ARE_YOU_SURE_TO_RESET_PREFS</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>CANCEL</string>
			</dict>
			<key>label</key>
			<string>RESET_PREFS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Nepeta/Relocate</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TO_NEPETA</string>
			<key>subtitle</key>
			<string>SUPPORT_ME</string>
			<key>url</key>
			<string>https://nepeta.me/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>Relocate</string>
</dict>
</plist>
